<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <div th:if="${param.error}">Invalid username or password</div>
  <div th:if="${param.logout}">Logout</div>
<form action="#" th:action="@{/admin/login}" method="POST">
  <div><label>Username : <input type="text" name="username"></label></div>
  <div><label>Password : <input type="password" name="password"></label></div>
  <div><button type="submit" value="Login">Login</button></div>
</form>
</body>
</html>